<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sbl.com.informedcitizen" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".InformedCitizenApp"
        android:allowBackup="true"
        android:icon="@drawable/uncle_sam_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListActivity"
            android:label="ListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="sbl.com.informedcitizen.activities.SearchActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sbl.com.informedcitizen.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait"
            android:parentActivityName="sbl.com.informedcitizen.activities.ListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sbl.com.informedcitizen.activities.ListActivity" />
        </activity>
    </application>

</manifest>
